.overview__text{
  text-align-last: auto;
}
.overview__number{
  text-align: center;
}
.box--primary{
  border: 1px;
}
.btnA{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
.div{
  display: block;
}
.overview {
  text-align: center;
}
.box {
  margin-bottom: 1.5em;
  padding: 1em;
  background-color: #fff;
  border: 1px solid #d9dee2;
  border-radius: 3px;}
