.overview__text{
  text-align-last: auto;
}
.overview__number{
  text-align: center;
}
.box--primary{
  border: 1px;
  
}
.box{
  margin-top: 30px;
  margin-bottom: 30px;
}
  .btn{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }