/* Tripath Custom ;) */
.box-center-v {
  margin-top: 25%;
  transform: translateY(-25%);
}
.bg-danau {
  background: url("../images/Sprinkle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 100vh;
}
.bg-flat {
  background-color: #e5e5e5;
}
.efek-kaca {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
}
form.user .form-group {
  position: relative;
  margin-bottom: 25px;
}
form.user .form-group label {
  position: absolute;
  top: -6px;
  left: 14px;
  font-size: 10px;
  padding: 0 5px;
  background-color: #FFF;
}
form.user.login .form-group {
  margin: 40px 0;
}
form.user.login .form-group label {
  background-color: transparent;
  top: -25px;
  font-size: 14px;
}
.cek-detail {
  background-color: #222;
}
.form-group small {
  font-size: 11px;
}
.form-group p {
  font-weight: bold;
  font-size: 18px;
}
.box-shadow{
  box-shadow: 0 0 25px #c0c0c0;
}
.container-xl, .container-lg, .container-md, .container-sm, .container{
  max-width: 1600px;
}


.page-notification {
  background: #EFF5F8;
  padding: 13px 0;
  margin-bottom: 95px;
}

.full-wrapper {
  margin: 0 35px;
}
.main-menu {
  margin-left: 40px;
  margin-right: 30px;
}
.sticky-bar {
  left: 0;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
  box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
  z-index: 9999;
  -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
  background: #fff;
}
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  right: auto;
  bottom: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-left: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0);
}

.navbar .navbar-toggler {
  top: .25rem;
  left: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}